<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="debugger" xsi:type="Debugger" layout="${date}|${level:uppercase=true}|${message} ${exception}|${callsite:className=true:fileName=false:includeSourcePath=false:methodName=true}|${callsite-linenumber}"/>
    <target name="logfile" xsi:type="File" fileName="tests.execution.log.txt"
            layout="${date}|${level:uppercase=true}|${message} ${exception}|${callsite:className=true:fileName=false:includeSourcePath=false:methodName=true}|${callsite-linenumber}" deleteOldFileOnStartup="True"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="debugger" />
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>